body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

#wrapper {
    text-align: center;
    width: 1000px;
    margin: 50px auto;
}

h1 {
    font-size: 200%;
    padding: 10px 0;
}

ul {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    clear: both;
}

a {
    color: black;
    text-decoration: underline;

}

li {
    display: inline-block;
    font-size: 150%;
    list-style-type: none;
    background-color: #999;
    margin: 10px;
    padding: 0;

}

.preview-box {
    margin: 0;
    padding: 0;

    color: white;

    background-color: #999;
    width: 210px;

    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.preview-box :hover {
    color: black;
    background-color: #aaa;
}

.preview-box a {
    text-decoration: none;
}

.preview-link {
    color: white;
    padding: 10px;
}

.preview-img {
    width: 100%;
    height: 100%;
}

.preview-box img {
    width: 100%;
    margin: 0;
    padding: 0;
}
